version: '3.8'

services:
  frontend:
    build:
      context: ./site_project
      dockerfile: Dockerfile
    container_name: frontend-app
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  backend:
    build:
      context: ./site_backend
      dockerfile: Dockerfile
    container_name: backend-api
    ports:
      - "5239:5239"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://0.0.0.0:5239
    networks:
      - app-network

networks:
  app-network:
    driver: bridge